<div class="row1">
    <p class="footer-title data-margin">Credits</p>

    <div class="footer-data">
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/free-icons/correct">Correct icons created by kliwir art - Flaticon</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.freepik.com">Icons made by Freepik from www.flaticon.com</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/authors/ilham-fitrotul-hayat">Icons made by Ilham Fitrotul Hayat from www.flaticon.com</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/authors/uniconlabs">Icons made by Uniconlabs from www.flaticon.com</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/authors/srip">Icons made by srip from www.flaticon.com</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/authors/stockio">Icons made by Stockio from www.flaticon.com</a>
        </div>
        <div class="credit-link data-margin">
            <a href="https://www.flaticon.com/authors/smashicons">Icons made by Smashicons from www.flaticon.com</a>
        </div>
    </div>
</div>

<div class="row2">
    <p class="footer-title data-margin">Important</p>

    <div class="footer-data">
        <div class="important-link data-margin">
            <a href="{{ url_for('about') }}">About</a>
        </div>
        <div class="important-link data-margin">
            <a href="{{ url_for('home') }}">Memento</a>
        </div>
        <div class="important-link data-margin">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
    </div>
</div>

<p class="copyright">Copyright © Memento 2023</p>