<div class="row1">
    <p class="footer-title data-margin">Credits</p>

    <div class="footer-data">
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
        <div class="credit-link data-margin">
            <a href="#">Icons made by Pixela</a>
        </div>
    </div>
</div>

<div class="row2">
    <p class="footer-title data-margin">Important</p>

    <div class="footer-data">
        <div class="important-link data-margin">
            <a href="{{ url_for('about') }}">About</a>
        </div>
        <div class="important-link data-margin">
            <a href="{{ url_for('home') }}">Memento</a>
        </div>
        <div class="important-link data-margin">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
    </div>
</div>

<p class="copyright">Copyright © Memento 2023</p>