<!DOCTYPE html>
<html>
    <head>
        {% include "header.html" %}

        <!--navbar-loggedin is the navigation bar of the user IS logged in-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-loggedin.css') }}">

        <!--navbar-initial is the navigation bar if the user ISN'T logged in-->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-initial.css') }}">-->
    </head>
    <body>
<!--        {% include "navbar-initial.html" %}-->
        {% include "navbar-loggedin.html" %}

        <footer>
            {% include "footer.html" %}

            <!--Navbar js-->
            <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

            <!--Navbar dropdown js-->
            <script src="{{ url_for('static', filename='js/navbar-loggedin.js') }}"></script>
        </footer>
    </body>
</html>